<!DOCTYPE html>
<!-- saved from url=(0050)http://getbootstrap.com/examples/navbar-fixed-top/ -->
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="http://getbootstrap.com/favicon.ico">

  <title>Blitz</title>

</head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">link</a></li>
            <li><a href="#">link</a></li>
            <li class="active"><a href="#">Active Link</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
			<div class="main row">
				<div class="col-md-3">
					<img src="http://placehold.it/650x350">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus mauris ante, sit amet scelerisque velit tempor et. Fusce tincidunt suscipit sagittis. Nunc pretium aliquet enim, vitae congue massa pretium vitae. Duis molestie id dolor vitae egestas.</p>
				</div>
				<div class="col-md-3">
					<img src="http://placehold.it/650x350">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus mauris ante, sit amet scelerisque velit tempor et. Fusce tincidunt suscipit sagittis. Nunc pretium aliquet enim, vitae congue massa pretium vitae. Duis molestie id dolor vitae egestas.</p>
				</div>
				<div class="col-md-3">
					<img src="http://placehold.it/650x350">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus mauris ante, sit amet scelerisque velit tempor et. Fusce tincidunt suscipit sagittis. Nunc pretium aliquet enim, vitae congue massa pretium vitae. Duis molestie id dolor vitae egestas.</p>
				</div>
				<div class="col-md-3">
					<img src="http://placehold.it/650x350">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus mauris ante, sit amet scelerisque velit tempor et. Fusce tincidunt suscipit sagittis. Nunc pretium aliquet enim, vitae congue massa pretium vitae. Duis molestie id dolor vitae egestas.</p>
				</div>
			</div>

			<div class="main row">
				<div class="col-md-3">
					<img src="http://placehold.it/650x350">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus mauris ante, sit amet scelerisque velit tempor et. Fusce tincidunt suscipit sagittis. Nunc pretium aliquet enim, vitae congue massa pretium vitae. Duis molestie id dolor vitae egestas.</p>
				</div>
				<div class="col-md-3">
					<img src="http://placehold.it/650x350">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus mauris ante, sit amet scelerisque velit tempor et. Fusce tincidunt suscipit sagittis. Nunc pretium aliquet enim, vitae congue massa pretium vitae. Duis molestie id dolor vitae egestas.</p>
				</div>
				<div class="col-md-3">
					<img src="http://placehold.it/650x350">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus mauris ante, sit amet scelerisque velit tempor et. Fusce tincidunt suscipit sagittis. Nunc pretium aliquet enim, vitae congue massa pretium vitae. Duis molestie id dolor vitae egestas.</p>
				</div>
				<div class="col-md-3">
					<img src="http://placehold.it/650x350">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus mauris ante, sit amet scelerisque velit tempor et. Fusce tincidunt suscipit sagittis. Nunc pretium aliquet enim, vitae congue massa pretium vitae. Duis molestie id dolor vitae egestas.</p>
				</div>
			</div>


    </div> <!-- /container -->



<!-- Section 1 -->
<section id="parallax-1" data-speed="6" data-type="background">
    <div class="container text-center">
      <h1>Be Happy.</h1>
    </div>
</section>

<div class="container">
				<div class="main row">
				<div class="col-md-3">
					<img src="http://placehold.it/650x350">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus mauris ante, sit amet scelerisque velit tempor et. Fusce tincidunt suscipit sagittis. Nunc pretium aliquet enim, vitae congue massa pretium vitae. Duis molestie id dolor vitae egestas.</p>
				</div>
				<div class="col-md-3">
					<img src="http://placehold.it/650x350">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus mauris ante, sit amet scelerisque velit tempor et. Fusce tincidunt suscipit sagittis. Nunc pretium aliquet enim, vitae congue massa pretium vitae. Duis molestie id dolor vitae egestas.</p>
				</div>
				<div class="col-md-3">
					<img src="http://placehold.it/650x350">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus mauris ante, sit amet scelerisque velit tempor et. Fusce tincidunt suscipit sagittis. Nunc pretium aliquet enim, vitae congue massa pretium vitae. Duis molestie id dolor vitae egestas.</p>
				</div>
				<div class="col-md-3">
					<img src="http://placehold.it/650x350">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus mauris ante, sit amet scelerisque velit tempor et. Fusce tincidunt suscipit sagittis. Nunc pretium aliquet enim, vitae congue massa pretium vitae. Duis molestie id dolor vitae egestas.</p>
				</div>
			</div>
</div>


<!-- Section 2 -->
<section id="parallax-2" data-speed="4" data-type="background">
    <div class="container text-center">
        <h1>The true voyage of discovery consists not in seeking new landscapes, but in having new eyes.</h1>
    </div>
</section>

<section class="container">
	<div class="main row">
		<div class="col-md-3">
			<img src="http://placehold.it/650x350">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus mauris ante, sit amet scelerisque velit tempor et. Fusce tincidunt suscipit sagittis. Nunc pretium aliquet enim, vitae congue massa pretium vitae. Duis molestie id dolor vitae egestas.</p>
		</div>
		<div class="col-md-3">
			<img src="http://placehold.it/650x350">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus mauris ante, sit amet scelerisque velit tempor et. Fusce tincidunt suscipit sagittis. Nunc pretium aliquet enim, vitae congue massa pretium vitae. Duis molestie id dolor vitae egestas.</p>
		</div>
		<div class="col-md-3">
			<img src="http://placehold.it/650x350">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus mauris ante, sit amet scelerisque velit tempor et. Fusce tincidunt suscipit sagittis. Nunc pretium aliquet enim, vitae congue massa pretium vitae. Duis molestie id dolor vitae egestas.</p>
		</div>
		<div class="col-md-3">
			<img src="http://placehold.it/650x350">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus mauris ante, sit amet scelerisque velit tempor et. Fusce tincidunt suscipit sagittis. Nunc pretium aliquet enim, vitae congue massa pretium vitae. Duis molestie id dolor vitae egestas.</p>
		</div>
	</div>
	<div class="main row">
		<div class="col-md-3">
			<img src="http://placehold.it/650x350">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus mauris ante, sit amet scelerisque velit tempor et. Fusce tincidunt suscipit sagittis. Nunc pretium aliquet enim, vitae congue massa pretium vitae. Duis molestie id dolor vitae egestas.</p>
		</div>
		<div class="col-md-3">
			<img src="http://placehold.it/650x350">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus mauris ante, sit amet scelerisque velit tempor et. Fusce tincidunt suscipit sagittis. Nunc pretium aliquet enim, vitae congue massa pretium vitae. Duis molestie id dolor vitae egestas.</p>
		</div>
		<div class="col-md-3">
			<img src="http://placehold.it/650x350">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus mauris ante, sit amet scelerisque velit tempor et. Fusce tincidunt suscipit sagittis. Nunc pretium aliquet enim, vitae congue massa pretium vitae. Duis molestie id dolor vitae egestas.</p>
		</div>
		<div class="col-md-3">
			<img src="http://placehold.it/650x350">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus mauris ante, sit amet scelerisque velit tempor et. Fusce tincidunt suscipit sagittis. Nunc pretium aliquet enim, vitae congue massa pretium vitae. Duis molestie id dolor vitae egestas.</p>
		</div>
	</div>
</section>


<!-- Section 3 -->
<section id="parallax-3" data-speed="2" data-type="background">
    <div class="container">
      <div class="main row">
				<div class="col-md-3">
					<img src="http://placehold.it/650x350">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus mauris ante, sit amet scelerisque velit tempor et. Fusce tincidunt suscipit sagittis. Nunc pretium aliquet enim, vitae congue massa pretium vitae. Duis molestie id dolor vitae egestas.</p>
				</div>
				<div class="col-md-3">
					<img src="http://placehold.it/650x350">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus mauris ante, sit amet scelerisque velit tempor et. Fusce tincidunt suscipit sagittis. Nunc pretium aliquet enim, vitae congue massa pretium vitae. Duis molestie id dolor vitae egestas.</p>
				</div>
				<div class="col-md-3">
					<img src="http://placehold.it/650x350">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus mauris ante, sit amet scelerisque velit tempor et. Fusce tincidunt suscipit sagittis. Nunc pretium aliquet enim, vitae congue massa pretium vitae. Duis molestie id dolor vitae egestas.</p>
				</div>
				<div class="col-md-3">
					<img src="http://placehold.it/650x350">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus mauris ante, sit amet scelerisque velit tempor et. Fusce tincidunt suscipit sagittis. Nunc pretium aliquet enim, vitae congue massa pretium vitae. Duis molestie id dolor vitae egestas.</p>
				</div>
			</div>
    </div>
</section>


</body></html>