// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//liquid scaling
img {
	width: 100%;
}

// text styling 

p {
	padding-top: 20px;
	font-size: 12px;
	padding-bottom: 20px;
}

body {
  padding-top: 50px;
}

.main {
	margin-top: 40px;
}

//navbar

.navbar-default {
	border: 0px !important;
}

.navbar {
	a {
	  padding-top: 20px !important;
	  padding-bottom: 20px !important;
	  font-size: 18px;
	}

	.navbar-toggle {
  	margin: 13px 15px 13px 0;
	}
}

.navbar-brand {
  font-size: 30px;
}

.navbar.navbar.small {
  min-height: 35px;
  background: black;
  color: white;
}

.navbar.small {
	a {
	  padding-top: 15px !important;
	  padding-bottom: 15px !important;
	  font-size: 15px;
	  -webkit-transition: all 1s ease-in-out;
	    -moz-transition: all 1s ease-in-out;
	    -o-transition: all 1s ease-in-out;
	    transition: all 1s ease-in-out;
	}

	.navbar-brand {
	  font-size: 15px;
	}

	.navbar-toggle {
	  padding: 4px 5px;
	  margin: 8px 15px 8px 0;
	}

} 


//parallax

#parallax-1 { 
		background: url('http://p1.pichost.me/i/52/1752409.jpg') 50% 0 fixed; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    padding: 200px 0;

   h1 {
    color: white;
    font-size: 100px;
    text-shadow: 1px 1px 1px #000;
  }
}

#parallax-2 { 
  background: url('http://p1.pichost.me/i/52/1754330.jpg') 50% 0 fixed; 
  height: auto;  
  margin: 0 auto; 
  width: 100%; 
  position: relative; 
  padding: 100px 0;
 
  h1 {
		color: rgb(255, 255, 255);
		text-shadow: 1px 1px 1px #000;
	}
}

#parallax-3 { 
  background: url('http://p1.pichost.me/i/52/1752409.jpg') 50% 0 fixed; 
  height: auto;
  margin: 0 auto; 
  width: 100%; 
  position: relative; 
  padding: 100px 0;
  color: #fff;
}